.header__lang-link{
    margin-right: 18px;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 24px;
    line-height: 1;
    text-decoration: none;
    list-style-type: none;
}

.header__lang-link:last-child{
    margin-right: 0;
}

.header__lang-link:hover{
    opacity: 0.8;
    transition: 0.5s;
}


@media screen and (max-width: 767px){
    .header__lang-link{
        font-size: 18px;
        line-height: 1.11;
        }
    } 