.cover__subtitle{
    margin: 0 204px 0 204px;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
    z-index: 1;
}

@media screen and (max-width: 767px){
    .cover__subtitle{
        margin: 0 16px 0 16px;
        padding-bottom: 33px;
        font-size: 14px;
        line-height: 1.14;
        }
    }