.lead__title{
    margin: 0 auto 32px auto;
    max-width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 32px;
}

@media screen and (max-width: 1023px) {
    .lead__title {
        margin: 0 24px 32px 24px;
        font-size: 96px;
        line-height: 1.04;
        }
    }

@media screen and (max-width: 767px) {
    .lead__title {
        margin: 0 16px 16px 16px;
        font-size: 40px;
        line-height: 1.1;
        }
    } 