.place__paragraph{
    margin: 0 0 26px 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.63;
    color: #FFFFFF;
}

.place__paragraph:last-child{
    margin-bottom: 0;
}

@media screen and (max-width: 1023px){
    .place__paragraph{
        font-size: 16px;
        line-height: 1.63;
        }
    }

@media screen and (max-width: 767px){
    .place__paragraph{
        margin: 0 16px 0 16px;
        }
    }
