.website{
    margin: 0;
    align-self: end;
    grid-area: website;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 767px){
    .website{
        margin: 0 16px 0 16px;
        }
    }