.cover__title{
    margin: 0 312px 32px 312px;
    font-weight: 900;
    text-align: center;
    font-size: 72px;
    line-height: 1.06;
    color: #FFFFFF;
    z-index: 1;
}

@media screen and (max-width: 1279px){
    .cover__title{
        margin: 0 232px 32px 232px;
        }
}  

@media screen and (max-width: 1023px){
    .cover__title{
        margin: 0 104px 32px 104px;
        }
    }

@media screen and (max-width: 767px){
    .cover__title{
        padding-top: 33px;
        margin: 0 16px 16px 16px;
        font-size: 32px;
        line-height: 1.09;
        }
    }