.website__link{
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.website__link:hover{
    opacity: 0.8;
    transition: 0.5s;
}